<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseProjecto</title>
  </head>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      <label for="">
        FileU:
        <input type="file" name="Upload File" />
      </label>
      <button>Check Results</button>
    </form>
  <body>
    <p>Hi, please attach the filled out sample template to be processed.</p>
  </body>
</html>